<!DocType html>

<html>
	<head>
		<title>QuickPick</title>
		<link type='text/css' rel='stylesheet' href='/stylesheets/home.css' />
		<script src='/js/jquery-1.11.2.min.js'></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">
	</head>
	<body>
		<div id="header">
			<div id='logoContainer'>QuickPick</div>
		</div>
        <div id="container">

            <div id="content">
                <div id="map-container"><div id="map-canvas"></div></div>

                <div id='searchBox'>

                        <input type='text' placeholder="+ Add Pick" id='searchInput' value="{{ q }}" />


						<div id='autoBox'>

                        </div>
						<div id='yourPicks'>
							<span>Your Picks</span>
							<ul>
							</ul>
						</div>

                </div>
            </div>
            <div id='footer'>
                <ul>
                    <li>
                        Created by Jonathan Lee, 2015
                    </li>

                </ul>
		    </div>

        </div>
	</body>
	<script src='/js/cookies.js'></script>
    <script src='/js/home.js'></script>
</html>
